body{
    background-color: rgb(235, 162, 235);
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 0%;
    height: 100vh;

}
div{
    border: 1px solid black;
    width: 500px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    
    
}
input{
    width: 300px;
    height: 25px;
    border-bottom:1px solid rgb(235, 162, 235) ;
}
button{
    height: 30px;
    width: 100px;
    margin: 20px;
    font-size: 15px;
    background-color: rgb(235, 162, 235);
}